<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <tr>
        <th>관리자아이디</th>
        <th>만델링원두</th>
        <th>로부스타원두</th>
        <th>홀릭원두</th>
        <th>업로드</th>
        <th>조회수</th>
    </tr>
    <tr>
        <td th:text="${byId.id}"></td>
        <td th:text="${byId.beandMandeling}"></td>
        <td th:text="${byId.beansHolic}"></td>
        <td th:text="*{#temporals.format(byId.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${byId.beansHits}"></td>
    </tr>
    <a href="/beans/update-form">수정</a>
    <a href="/beans/delete">삭제</a>
</body>
</html>