<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>save.html</h2>
    <form action="save" method="post">
    <table>
        <div>
            <tr>
                <th>
                    <td>
                <input type="text" name="beandMandeling">
            </td>
                </th>
                <th>
                    <td>
                <input type="text" name="beansRobutaStar">
            </td>
                </th>
                <th>
                    <td>
                <input type="text" name="beansHolic">
            </td>
                </th>
                <th>
                    <td>
                <input type="text" name="beansHits">
            </td>
                </th>
                <input type="submit" value="원두메뉴">
            </tr>
        </div>
    </table>
    </form>
</body>
</html>