<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>수정화면</h2>
    <form action="update" method="post">
        <table>
            <div>
                <tr>
                    <th>
                        <td>
                    <input type="text" id="id" th:value="${byId.id}"readonly>
                </td>
                    </th>
                    <th>
                        <td>
                    <input type="text" name="">
                </td>
                    </th>
                </tr>
            </div>
        </table>
    </form>
</body>
</html>