<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <div>
            <form action="update" method="post">
            <tr>
                <th>
                    <td>
                <input type="text" name="id" th:value="${byId.id}">
            </td>
                </th>
                <th>
                    <td>
                <input type="text" name="beans">
            </td>
                </th>
                <th>
                    <td>
                <input type="text"name="supplies">
            </td>s
            </tr>
            <input type="submit" value="수정">
            </form>
        </div>
    </table>
</body>
</html>